@font-face{
    font-family:"Lulo-Clean-W01-One-Bold";
    src: url("../resource/font/Lulo-Clean.ttf");
}

@font-face{
    font-family:"DINNeuzeitGroteskLTW01-_812426";
    src:url("../resource/font/Din-Neuzeit.ttf");
}

@font-face{
    font-family:"Belinda-W00-Regular";
    src: url("../resource/font/Belinda.ttf");  
}

@font-face{
    font-family:"Avenir-LT-W01_85-Heavy1475544";
        src: url("../resource/font/Avenir-LT-85-Heavy.ttf");
}

@font-face{
	font-family: "Bebas-Neue";
	src: url("../resource/font/BebasNeue-Regular.ttf");
}